###### 1. Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module

In [1]:
import pandas as pd

In [4]:
ar1=pd.Series([3,4,5,6])
ar1

0    3
1    4
2    5
3    6
dtype: int64

###### 2. Write a Python program to convert a Panda module Series to Python list and it's type.

In [5]:
l1= ar1.tolist()
l1

[3, 4, 5, 6]

In [7]:
type(l1)

list

###### 3. Write a Python program to add, subtract, multiple and divide two Pandas Series. Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [9]:
a1=[2,4,6,8,10]
a2=[1,3,5,7,9]
s1=pd.Series(a1)
s2=pd.Series(a2)

In [10]:
s1+s2

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [11]:
s1-s2

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [12]:
s1*s2

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [13]:
s1/s2

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [14]:
s1//s2

0    2
1    1
2    1
3    1
4    1
dtype: int64

###### Write a Python program to get the largest integer smaller or equal to the division of the inputs.

In [15]:
print(s1>s2) #greater than

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [16]:
print(s1<s2) #smaller than

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [17]:
print(s1==s2)

0    False
1    False
2    False
3    False
4    False
dtype: bool

###### 5. Write a Python program to convert a dictionary to a Pandas series. 
Sample Series: 
Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted series:
a 100
b 200
c 300
d 400
e 800
dtype: int64

In [18]:
dict1={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [19]:
s3=pd.Series(dict1)

In [20]:
s3

a    100
b    200
c    300
d    400
e    800
dtype: int64

###### Write a Python program to convert a NumPy array to a Pandas series. 
Sample Series: 
NumPy array:
[10 20 30 40 50]
Converted Pandas series:

0 10

1 20

2 30

3 40

4 50

dtype: int64

In [21]:
import numpy as np

In [22]:
ar=np.array([2,3,4,5])

In [23]:
ss=pd.Series(ar)
ss

0    2
1    3
2    4
3    5
dtype: int32

###### 7. Write a Python program to change the data type of given a column or a Series. 
Sample Series: 
Original Data Series:

0 100

1 200

2 python

3 300.12

4 400

dtype: object

Change the said data type to numeric:

0 100.00

1 200.00

2 NaN

3 300.12

4 400.00

dtype: float64

In [24]:
s1=pd.Series(['100','200','python','300.12','400'])
s1

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [26]:
s2= pd.to_numeric(s1,errors='coerce')

In [27]:
s2

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

###### 8. Write a Python Pandas program to convert the first column of a DataFrame as a Series. 
Sample Output: 

Original DataFrame

col1 col2 col3

0 1 4 7

1 2 5 5

2 3 6 8

3 4 9 12

4 7 5 1

5 11 0 11

1st column as a Series:

0 1

1 2

2 3

3 4

4 7

5 11

Name: col1, dtype: int64

<class 'pandas.core.series.Series'>

In [28]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df= pd.DataFrame(d)

In [29]:
df

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [41]:
df.ix[:,0]

C:\Users\DEVARTI\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [43]:
df.ix[:,1]

C:\Users\DEVARTI\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

0    4
1    5
2    6
3    9
4    5
5    0
Name: col2, dtype: int64

###### 9. Write a Pandas program to convert a given Series to an array.
Sample Output: 
Original Data Series:

0 100

1 200

2 python

3 300.12

4 400

dtype: object

Series to an array
['100' '200' 'python' '300.12' '400']

In [44]:
s1=pd.Series(['100','200','python','300.12','400'])

In [45]:
ar=np.array(s1)
ar

array(['100', '200', 'python', '300.12', '400'], dtype=object)

###### Write a Pandas program to convert Series of lists to one Series. 
Sample Output:

Original Series of list

0 [Red, Green, White]

1 [Red, Black]

2 [Yellow]

dtype: object

One Series

0 Red

1 Green

2 White

3 Red

4 Black

5 Yellow

dtype: object

In [47]:
l1=[['Red','Green','White'],['Red','Black'],['Yellow']]
a=pd.Series(l1)
a

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [62]:
s = a.apply(pd.Series).stack().reset_index(drop=True)

In [63]:
s

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

###### Write a Pandas program to sort a given Series.  
Sample Output: 

Original Data Series: 0 100

1 200

2 python

3 300.12

4 400

dtype: object

0 100

1 200

3 300.12

4 400

2 python

dtype: object

In [64]:
s1=pd.Series(['100','200','python','300.12','400'])

In [65]:
s1=s1.sort_values()

In [66]:
s1

0       100
1       200
3    300.12
4       400
2    python
dtype: object

###### 12. Write a Pandas program to add some data to an existing Series. 
Sample Output: 

Original Data Series:

0 100

1 200

2 python

3 300.12

4 400

dtype: object

Data Series after adding some data:

0 100

1 200

2 python

3 300.12

4 400

0 500

1 php

dtype: object

In [67]:
s1=pd.Series(['100','200','python','300.12','400'])

In [70]:
s2=pd.Series(['500','php'])

In [71]:
new_s=s1.append(s2)

In [72]:
new_s

0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

###### 13. Write a Pandas program to create a subset of a given series based on value and condition. 

Sample Output: 

Original Data Series:
0 0

1 1

2 2

3 3

4 4

5 5

6 6

7 7

8 8

9 9

10 10

dtype: int64

Subset of the above Data Series:

0 0

1 1

2 2

3 3

4 4

5 5

dtype: int64

In [73]:
s=pd.Series([0,1,2,3,4,5,6,7,8,9,10])

In [74]:
s

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

In [75]:
s[0:6]

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [78]:
n=6

In [82]:
new_s=s[s<n]
new_s

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

###### 14. Write a Pandas program to change the order of index of a given series. Go to the editor 
Sample Output: 

Original Data Series:

A 1

B 2

C 3

D 4

E 5

dtype: int64

Data Series after changing the order of index:

B 2

A 1

C 3

D 4

E 5

dtype: int64

In [83]:
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])

In [84]:
s

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [85]:
s = s.reindex(index = ['B','A','C','D','E'])
s

B    2
A    1
C    3
D    4
E    5
dtype: int64

###### 15. Write a Pandas program to create the mean and standard deviation of the data of a given Series. Go to the editor 

Sample Output: 

Original Data Series:

0 1

1 2

2 3

3 4

4 5

5 6

6 7

7 8

8 9

9 5

10 3

dtype: int64

Mean of the said Data Series:
4.81818181818

Standard deviation of the said Data Series:
2.52262489555

In [86]:
s = pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64

In [87]:
s.mean()

4.818181818181818

In [89]:
s.std()

2.522624895547565