# PYTHON DATA STRUCTURES

###  Tuples

In [1]:
#tuple
a=(1,2,3)
a

(1, 2, 3)

In [2]:
b=('disco',2,3)

In [3]:
type(b)

tuple

In [4]:
b[0]

'disco'

In [5]:
b[-1]

3

In [6]:
c=b+('hardrock',6)

In [7]:
c

('disco', 2, 3, 'hardrock', 6)

In [8]:
b=b+(5,8)

In [9]:
b

('disco', 2, 3, 5, 8)

In [10]:
b[3]=6   #error comes because tuple is immutable

TypeError: 'tuple' object does not support item assignment

###### Nested Tuple

In [11]:
NT=(1,2,(4,5),6,('A','B','C'))
NT[2]

(4, 5)

In [12]:
NT[4][2]

'C'

### Lists

In [13]:
l=[3,4,5]

In [14]:
l

[3, 4, 5]

In [1]:
[1,2]*3

[1, 2, 1, 2, 1, 2]

In [2]:
[1,2]+[3,4]

[1, 2, 3, 4]

In [15]:
L1=[1,2.3,'Rock',[3,4],5,(8.6,9)]    #nested list
L1

[1, 2.3, 'Rock', [3, 4], 5, (8.6, 9)]

In [16]:
L1[1]

2.3

In [17]:
L1[-1]

(8.6, 9)

In [18]:
L1[0:4]

[1, 2.3, 'Rock', [3, 4]]

In [19]:
L1[1]=2.333

In [20]:
L1
#lists are mutable...so that we change them

[1, 2.333, 'Rock', [3, 4], 5, (8.6, 9)]

In [22]:
#We can concatnate new elements in list by extend method
L1.extend(['pop',7])
L1

[1, 2.333, 'Rock', [3, 4], 5, (8.6, 9), 'pop', 7]

In [23]:
#If we use append function, only one element will be added unlike extend where 2 elements were added
L1.append([5,6])
L1

[1, 2.333, 'Rock', [3, 4], 5, (8.6, 9), 'pop', 7, [5, 6]]

In [24]:
del(L1[-1]) #delete one element

In [25]:
L1

[1, 2.333, 'Rock', [3, 4], 5, (8.6, 9), 'pop', 7]

In [26]:
L2=L1
#Both L1 and L2 are refering to same list. This is called Aliasing
L2

[1, 2.333, 'Rock', [3, 4], 5, (8.6, 9), 'pop', 7]

In [27]:
L2[2]='Stone'
L1

#if we make changes in one list, another list will also change as both are pointing to same list(references a new copy or clone of the original list.)

[1, 2.333, 'Stone', [3, 4], 5, (8.6, 9), 'pop', 7]

###### Map  function

In [23]:
store1=[10.00,65,23,4]
store2=[11.45,55,34,2]
a= map(lambda x:x**2, store1)
print(list(a))

[100.0, 4225, 529, 16]

In [10]:
cheapest=list( map(min,store1,store2) )
cheapest

[10.0, 55, 23, 2]

In [22]:
a= '10101'
b= '231995'
cheapest = list(map(int,b)) 
cheapest

[2, 3, 1, 9, 9, 5]

### Sets

In [29]:
#Sets are a type of collection. 
#This means that like lists and tuples, you can input different python types. 
#Unlike lists and tuples they are unordered.This means sets do not record element position. 
#Sets only have unique elements.
s={'pop','rock','metal','R&B','rock','country','hip hop','jazz'}
s
#duplicate elements are eliminated

{'R&B', 'country', 'hip hop', 'jazz', 'metal', 'pop', 'rock'}

In [32]:
s.add('soul')
s

{'R&B', 'country', 'hip hop', 'jazz', 'metal', 'pop', 'rock', 'soul'}

In [38]:
s.remove('soul')
s

KeyError: 'soul'

In [40]:
'pop' in s

True

In [41]:
'music' in s

False

In [30]:
l1=[1,2,3,1]
s1=set(l1)
s1

{1, 2, 3}

In [31]:
s2={2,4,5,3}
s2

{2, 3, 4, 5}

In [43]:
s3= s1 & s2
s3

{2, 3}

In [44]:
s4=s1 | s2
s4

{1, 2, 3, 4, 5}

In [45]:
s3.issubset(s1)

True

In [46]:
s4.issubset(s1)

False

### Dictionary

In [47]:
dict={1:'Rose',2:'Sunflower',3:'Lily',4:'Marigold'}
#The keys are the first elements; they must be immutable and unique...
#the next element is called value...The values can be immutable, mutable and duplicates.

In [48]:
dict[2]

'Sunflower'

In [55]:
4 in dict

True

In [56]:
5 in dict

False

In [57]:
dict.keys()

dict_keys([1, 2, 3, 4])

In [58]:
dict.values()

dict_values(['Rose', 'Sunflower', 'Lily', 'Marigold'])

In [49]:
for i in dict.keys():
    print(i)

1
2
3
4

In [51]:
for i in dict.values():
    print(i)

Rose
Sunflower
Lily
Marigold

In [50]:
for i in dict.keys():
    print(dict[i])

Rose
Sunflower
Lily
Marigold

In [54]:
for key,value in dict.items():
    print(key,'is',value)

1 is Rose
2 is Sunflower
3 is Lily
4 is Marigold

In [3]:
sales_record={'price':3.24,'num_items':4,'person':'Chris Evans'}
sales_statment='{} bought {} items at a price of {}each for a totalof {}'
print(sales_statment.format(sales_record['person'],sales_record['num_items'],sales_record['price']))

IndexError: tuple index out of range

### Functions

In [25]:
def my_abs(val):
    if val<0 :
        return 0-val
    return val

my_abs(-1)

1

###### Built In Function

In [26]:
a=[2,3,1,3,4,7,5]
len(a)    #length of the list

7

In [29]:
s=sum(a)
s

25

Apply the function sorted to the list, a and get a new list a1. The result is a new sorted list. If we look at the list a, nothing has changed. Generally, functions take an input, in this
case, a list. They produce a new output, in this instance, a sorted list.

If we use the method sort, the list a will change and no new list will be
created.

In [31]:
a1=sorted(a)
a1

[1, 2, 3, 3, 4, 5, 7]

In [32]:
a.sort()

In [33]:
a

[1, 2, 3, 3, 4, 5, 7]

In many cases a function does not have a return
statement. In these cases, Python will return the special
“None” object.

In [34]:
def JA():
    print('Jensen Ackles')

In [35]:
JA()

Jensen Ackles

Let's define the function “No work” that performs no task.
Python doesn’t allow a function to have an empty body, so we can use the keyword pass,
which doesn’t do anything, but satisfies the requirement of a non-empty body.
If we call the function and print it out, the function returns a None.

In [37]:
def NoWork():
    pass
print(NoWork())

None

In [39]:
def printstuff(stuff):
    for i,s in enumerate(stuff):
        print('album',i+1,'rating is',s)

album_rating=[10,7.5,6,8,9.5,9]
printstuff(album_rating)

album 1 rating is 10
album 2 rating is 7.5
album 3 rating is 6
album 4 rating is 8
album 5 rating is 9.5
album 6 rating is 9

In [40]:
#Global Scope
def abc(a):
    b=a+1
    return b

abc(5)

6

In [42]:
#local scope
def bcd():
    date=1996
    return date

bcd()

1996

In [44]:
def bcd():
    date=1996
    return date

date=2019
print(bcd())
date

1996

2019

### Date Time

In [45]:
import datetime as dt
import time as tm

In [46]:
tm.time()

1557855739.893121

In [47]:
dtnow=dt.datetime.fromtimestamp(tm.time())

In [48]:
dtnow

datetime.datetime(2019, 5, 14, 23, 13, 5, 113068)

In [49]:
delta=dt.timedelta(days=100)

In [50]:
delta

datetime.timedelta(days=100)

In [51]:
today=dt.date.today()

In [52]:
today

datetime.date(2019, 5, 14)

In [53]:
today> today-delta

True

### Lambda function

In [55]:
my_function=lambda a,c,d:a+c-d

my_function(6,5,9)

2

### Class and Object

In [57]:
class Person:
    department='School of music'
    def set_name(self,new_name):
        self.name=new_name
    def set_location(self,new_location):
        self.location=new_location
        
person=Person()
person.set_name('Niall Horan')
person.set_location('Ireland')
print('{} lives in {} and works in the department {}'.format(person.name,person.location,person.department))

Niall Horan lives in Ireland and works in the department School of music