# PYTHON BASICS

In [11]:
print('Hello World')

Hello World

### Types

In [23]:
type(10)

int

In [22]:
type(19.6)

float

In [24]:
type([1,2,3])

list

In [21]:
type((4,5))

tuple

In [18]:
type(True)

bool

###### Enter the code to convert the number 1 to a Boolean ?

In [20]:
bool(1)

True

### Expressions & Variables

In [27]:
#the numbers are called operands and symbols are called operators
46+60+6+55

167

In [29]:
60-50

10

In [30]:
7*8

56

In [32]:
25/2
#In Python 3, division will result in a float.

12.5

In [33]:
25//2 #We can use the double slash for integer division, where the result is rounded.

12

In [34]:
#Python follows mathematical conventions when performing mathematical expressions.
3+2*2

7

In [35]:
#variables are used to store values
a=10
#We can then use the value somewhere else in the code by typing the exact name of the variable.colon is used to denote the value of the variable.
a:10

In [37]:
x=46+60+6+55  # x will now store the value of x
x

167

In [38]:
y=x/2 #operations can be performed on x
y

83.5

### String Operation

In [40]:
d='Devarti'
d[2]

'v'

In [41]:
d[-1]

'i'

In [42]:
d[2:5]

'var'

In [43]:
d[3:]

'arti'

In [44]:
d[:3]

'Dev'

In [45]:
d[0:7:2]  #2 indicates we select every second variable

'Dvri'

In [46]:
len(d)  #length of string

7

In [47]:
s='abcd'
d+s

'Devartiabcd'

In [48]:
d*2  #multiply the string by the number of times we would like to replicate it

'DevartiDevarti'

In [51]:
d[4]='j'  # This means you cannot change the value of the string, but you can create a new string. Hence it is immutuable.

TypeError: 'str' object does not support item assignment

#### String method

In [52]:
d.upper()

'DEVARTI'

In [53]:
d.lower()

'devarti'

In [56]:
b='Today is Friday'
r=b.replace('Friday','Saturday') #The method replaces a segment of the string, i.e., a substring with a new string.
r

'Today is Saturday'

In [57]:
#The method find, finds sub-strings
b.find('ri')

10

In [59]:
# If the sub-string is not in the string, the output is -1
r.find('ri')

-1

In [39]:
u='Hello'
u.lower()
u == u.lower()

False

In [38]:
u is u.lower()

False

In [28]:
s='    Extras'
s.strip()

'Extras'

In [30]:
s='****10****'
s.strip('*')

'10'

In [31]:
s.rstrip('*')

'****10'

In [34]:
s='lets split the word'
s.strip('')

'lets split the word'

In [35]:
a= 'we love {} {}'
a.format('data','analysis')

'we love data analysis'

###### Consider the following string: Numbers="0123456"    how would you obtain the even elements ?

In [61]:
Numbers='0123456'
Numbers[::2]

'0246'

### CONDITIONS AND BRANCHING

###### Comparison operator

In [2]:
a=6
a==6

True

In [4]:
age = input("Enter your age: ")
if(int(age)>18):
    print('you can enter')
else:
    print('you cannot enter')

Enter your age: 23
you can enter

In [5]:
age = input("Enter your age: ")
if(int(age)>18):
    print('you can enter')
    
elif(int(age)==18):
    print('go to pink floyd')
else:
    print('you cannot enter')

Enter your age: 18
go to pink floyd

### Loop

In [6]:
color=['red','yellow','pink','black','white']

In [11]:
for i in range(0,len(color)):
    print(color[i])

red
yellow
pink
black
white

In [12]:
for i in color:
    print(i)

red
yellow
pink
black
white

In [13]:
for i in range(0,5):
    color[i]='purple'

In [14]:
color

['purple', 'purple', 'purple', 'purple', 'purple']

In [15]:
squares=['red','yellow','pink','black','white']

In [17]:
for i,square in enumerate(squares):
    print(square)
    print(i)

red
0
yellow
1
pink
2
black
3
white
4

### Reading Files with Open

In [47]:
File1=open("/Documents/Example.txt","r")

FileNotFoundError: [Errno 2] No such file or directory: '/Documents/Example.txt'

In [43]:
File1.name

NameError: name 'File1' is not defined

In [44]:
File1.mode

NameError: name 'File1' is not defined

In [45]:
File1.close

NameError: name 'File1' is not defined

Using a 'with' statement to open the file is better practice because it automatically
closes the file.

In [46]:
with open("Example.txt","r") as File2:
    file_stuff=File2.read()
    print(file_stuff)
    
print(file2.closed)
print(file_stuff)

SyntaxError: unexpected EOF while parsing (<ipython-input-46-cd94a91e1ae6>, line 1)